.cta {
    background-color: $ColorDesaturatedBlue;
    padding: 2rem 1rem;
    place-content: center;
    .container {
        grid-template-columns: 1fr 2fr;
        @include flex(column, center);
        gap: 1rem;
        .cta-content {
            .cta-heading {
                font-size: 1rem;
                color: #fff;
                margin-bottom: 1rem;
                text-align: center;
            }
            .cta-desc {
                font-size: 0.9rem;
                color: #fff;
                color: $ColorLightGray;
                text-align: center;
            }
        }
        .call-to-action {
            form {
                @include flex(column, center);
                gap: 1rem;
                width: 100%;
                input {
                    padding: 1rem;
                    border: none;
                    border-radius: .2rem;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                     ::placeholder {
                        color: $ColorLightGray;
                    }
                }
                button {
                    padding: 1rem;
                    background-color: $ColorBrightBlue;
                    color: #fff;
                    border: none;
                    border-radius: .2rem;
                    font-size: .6rem;
                    width: 100%;
                    cursor: pointer;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .cta {
        .container {
            @include flex(row, space-around);
            .cta-content {
                width: 50%;
                margin: 1rem 2rem;
                .cta-heading {
                    text-align: left;
                }
                .cta-desc {
                    text-align: left;
                    padding-right: 6rem;
                }
            }
            .call-to-action {
                form {
                    gap: 1rem;
                    align-items: flex-start;
                    input {
                        width: 130%;
                    }
                    button {
                        width: 70%;
                    }
                }
            }
        }
    }
}