.container {
    padding: 1rem;
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    .banner {
        @include flex(column, center);
        flex-direction: column-reverse;
        .illustration-1 {
            margin-bottom: 1rem;
        }
        h1 {
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        p {
            font-size: .9rem;
            text-align: center;
            margin-bottom: 2rem;
            padding: 0 1rem;
        }
        .call-to-action {
            form {
                @include flex(column, center);
                gap: 1rem;
                input {
                    padding: 1rem;
                    border: 1px solid $ColorVeryDarkBlue;
                    border-radius: .2rem;
                    width: 80%;
                }
                button {
                    padding: 1rem;
                    background-color: $ColorBrightBlue;
                    color: #fff;
                    border: none;
                    border-radius: .2rem;
                    font-size: .6rem;
                    width: 80%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .container {
        .banner {
            @include flex(row, left);
            .banner-details {
                margin-right: 1rem;
                h1 {
                    text-align: left;
                    font-size: 2rem;
                }
                p {
                    font-size: 1rem;
                    text-align: left;
                    padding: 0;
                }
            }
            .call-to-action {
                form {
                    @include flex(row, center);
                    gap: .7rem;
                    input {
                        padding: 1rem;
                        border: 1px solid $ColorVeryDarkBlue;
                        border-radius: .2rem;
                        width: 80%;
                        &::placeholder {
                            color: $ColorLightGray;
                        }
                    }
                    button {
                        padding: 1rem;
                        background-color: $ColorBrightBlue;
                        color: #fff;
                        border: none;
                        border-radius: .2rem;
                        font-size: .6rem;
                        width: 50%;
                    }
                }
            }
        }
    }
}