/*Primary*/

$ColorVeryDarkBlue: hsl(243, 87%, 12%);
$ColorDesaturatedBlue: hsl(238, 22%, 44%);

/*Accent*/

$ColorBrightBlue: hsl(224, 93%, 58%);
$ColorModerateCyan: hsl(170, 45%, 43%);

/*Neutral*/

$ColorLightGrayishBlue: hsl(240, 75%, 98%);
$ColorLightGray: hsl(0, 0%, 75%);
@mixin flex($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}